body{
background-color:#f4f6f8;
font-family:Arial;
padding:20px;
}

/* H1 */
#main-title{
text-align:center;
font-size:40px;
}

/* H4 */
.mini-title{
color:darkblue;
}

/* External paragraph style */
.external-style{
color:purple;
text-decoration:underline;
}

/* General paragraph style */
.text-style{
font-size:18px;
line-height:1.6;
}

/* Motivation quote */
#motivation{
color:red;
font-weight:bold;
font-style:italic;
}

/* Table styling */

table{
margin-top:20px;
border-collapse:collapse;
width:70%;
}

th{
background-color:#333;
color:white;
padding:8px;
}

td{
padding:8px;
}


